name: sharp2run
description: Sharp Rewards - Sharp2run Game
version: 1.0.0

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  firebase_core: ^2.24.2
  firebase_auth: ^4.17.0
  cloud_firestore: ^4.15.0
